@import 'tailwindcss';
@config '../../../tailwind.config.ts';

:root {
  --ee_black: #000000;
  --ee_white: #ffffff;
  --ee_primary: #00708b;
  --ee_secondary: #f16722;
  --ee_tertiary: #f0f0f0;
  --ee_card_background: #f7f7f7;
  --ee_card_border: #d2d2d2;
  --ee_color_text: #222e31;
  font-family: 'Poppins', sans-serif;
}
